$hover-bg: #7500D8;
$black: #3c3c3c;
$white: #ffffff;
$color3: #1A5B5E;
$marg1: 60px;
$marg2: 60px;
$marg3: 40px;
$fs1: 60px;
$fs2: 55px;
$fs3: 30px;
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 993px;
$xl: 1200px;
